<div class="card border-primary mb-3">
    <div class="card-body">
      <h5 class="card-title">GCG, Global Capital Group(Cancún, México)</h5>
      <p class="card-text">
	In charge of directing and providing web development services and implementations of cloud-based architectures for e-commerce:
      </p>
      <p>
      Tools use:
	<ul>
  	  <li>Develop: PHP (Symfony), Drupal 8, React.</li>
  	  <li>Virtualization: Docker and Vagrant.</li>
  	  <li>Testing: Behat, PHPSpec and PHPUnit, Selenium, Mink.</li>
  	  <li>CI/CD: Gitlab-CI, Travis-CI, Sonarqube, Sentry.</li>
  	  <li>Cloud services: AWS.</li>
  	  <li>Technical support.</li>
        </ul>
      </p>
      <p class="card-text"><small class="text-muted">Sept, 2016 - actually</small></p>
    </div>
</div>

<div class="card border-info mb-3">
    <div class="card-body">
      <h5 class="card-title">Sinergia FC (Cancún, México)</h5>
      <p class="card-text">Web developer. Development and deployment of applications for internal operations: list of prospects, customers, suppliers, operations, purchase orders and quotes. Connection to APIS of electronic invoicing.</p>
      <p class="card-text"><small class="text-muted">Sept, 2013 - Jun, 2016</small></p>
    </div>
</div>

<div class="card border-primary mb-3">
    <div class="card-body">
      <h5 class="card-title">Editorial San Pablo (Bogotá, Colombia)</h5>
      <p class="card-text">Web developer. Digital editor. Programming in HTML, CSS, Javascript, PHP MySQL and Drupal 6~7.</p>
      <p class="card-text"><small class="text-muted">Jan, 2012 - Jun, 2013</small></p>
    </div>
</div>

